
.latest-donor {
    background: $primaryWhite;
    color: $primaryWhite;
    min-height: 500px;
    text-align: center;

    border: 1px solid $oliveDrab;

    .donor-card {
        img {
            margin-top: -50px;
        }

        .card:hover {
            background: $primary;
            color: $primaryBlack;
        }
    }
}