//primary colors
$primary: #2F4F4F;
$primary-overlay:rgba(107, 142, 35, 0.8);
$primaryWhite: #fff;
$primaryBlack: #000;
//custom variations
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$oliveDrab:#6B8E23;
$slateGrey: #2F4F4F;
$darkBlack:#343a40;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $darkBlack;
}

body {
    margin-top: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: $primaryWhite;
}

.navbar {
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background-color: $slateGrey;
    .nav-item {
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#header {
    height: 65vh;
    background-image: url(../img/mountains-3187581_1920.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    text-align: center;
    .header-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.header-primary {
    color: $primaryWhite;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 7.5rem;
    &--main {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1rem;
        margin-bottom: 1.8rem;
    }
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .4rem;
    }
}

.showcase {
    min-height: 300px;
    position: relative;
    background: $oliveDrab;
}

.latest {
    background: $primaryWhite;
    color: $primaryWhite;
    min-height: 500px;
    text-align: center;
}

#latest-donor {
    border: 1px solid $oliveDrab;
    .donor-card {
        img {
            margin-top: -50px;
        }
        .card:hover {
            background: $primary;
            color: $primaryBlack;
        }
    }
}

#boxes {
    border: solid 1px $oliveDrab;
}

#faq {
    min-height: 220px;
    background: #343a40;
    color: $primaryWhite;
    text-align: center;
    font-size: 30px;
    width: 100%;
    border: solid 1px $oliveDrab;
}

#join-for-free {
    min-height: 300px;
    background: #2F4F4F;
    color: $primaryWhite;
    text-align: center;
    .form-control {
        height: 45px;
    }
}

#footer {
    min-height: 200px;
    .footer-heading {
        text-align: center;
        font-size: 30px;
        color: $slateGrey;
    }
}

.label-text {
    font-size: 25px;
    p {
        margin-left: 5px;
    }
}

.showcase-heading {
    font-size: 30px;
}

.faq-text {
    color: $primaryWhite;
    font-size: 1rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.0rem;
}

.btn--white {
    background-color: $primaryBlack;
    color: #777;
    border-radius: 1rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: $primaryBlack;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}