//primary colors
$primary: #2F4F4F;
$primary-overlay:rgba(107, 142, 35, 0.8);
$primaryWhite: #fff;
$primaryBlack: #000;
//custom variations
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$oliveDrab:#6B8E23;
$slateGrey: #2F4F4F;
$darkBlack:#343a40;